<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL_HOST</key>
	<string>YOUR_PROJECT.supabase.co</string>
	<key>SUPABASE_PUBLISHABLE_KEY</key>
	<string>sb_publishable_REPLACE_ME</string>
	<key>REVENUECAT_API_KEY</key>
	<string>PASTE_IOS_PUBLIC_SDK_KEY_appl_xxxxx_HERE</string>
	<key>REVENUECAT_ENTITLEMENT_ID</key>
	<string>Glu Gold</string>
</dict>
</plist>
